<div class="container">
  <% obj.each do |article| %>
        <p class="text-muted">
          <% if article.user %>
            by <%= link_to article.user.username, user_path(article.user) %>
          <% end %>
        </p>
        <%= link_to article_path(article) do %>
        <strong> <%= article.article_title %> </strong>
        <p> <%= article.article_description[0..100] %> </p>
      <% end %>

      <%= render 'articles/article_actions', obj: article %>
      <hr />
    </div>
  <% end %>
</div>
